.header {
    background-color: rgb(179, 233, 255);
    padding: 23px;
}

#container{
    display: flex;
    height: 80vh;
    width: 100%;
}

#list-container{
    display: flex;
    justify-content: center;
    border: #333;
    height: 100%;
    max-width: 350px;
    min-width: 250px;
    width: 33%;
    border-width: 2px;
    border-style: solid;
    margin: 2px;
    float: left;
}

#detail-container{
    border: #333;
    height: 100%;
    width: 66%;
    min-width: 600px;
    border-width: 2px;
    border-style: solid;
    margin: 2px;
    float: right;
}
